/* TODO: add any application specific styling here */
.mwf-listitem-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

#myapp-readview main img {
  width: 100%;
}

#myapp-mediaItemDialog main img {
  padding: 10px;
  max-height: 150px;
}
